AZURE_CONNECTION_STRING=your_azure_connection_string_here
AZURE_CONTAINER_NAME=raw-gym-data
SNOWFLAKE_USER=your_snowflake_username
SNOWFLAKE_PASSWORD=your_snowflake_password
AIRFLOW_SECRET_KEY=your_secret_key_here