# Secrets & Environment
.env
*.txt
Snowflake Account.txt
#
# Data Files (Never push raw/cleaned data to Git)
#*.csv
#*.xlsx
#OldData/
#CleanedData

# Python & Airflow
__pycache__/
*.pyc
.venv/
venv/
logs/
plugins/